<div class="container">
    <div class="row">
        <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1" style="font-size: 40px;margin-left:40rem ;  color:brown">News</span>
</nav>
    </div>
</div>